@import "../../../sass/basic.scss";
@import "../../../sass/color.scss";

.worksHeader-wrapper {
  width: 100%;
  height: 100%;

  & .worksHeader {
    display: flex;
    flex-direction: row;

    & .line {
      width: 5px;
      border-radius: 5px;
      background-color: $white;
      margin-right: 23px;
    }

    & .work-content {
      display: block;
      flex: 1;

      & .work-title {
        font-size: $font-h3;
        font-weight: 600;
        color: $white;
        margin-bottom: 10px;
      }

      & .work-subtitle {
        font-size: $font-h4;
        font-weight: 500;
        color: $white;
        margin-bottom: 25px;
      }

      & .work-context {
        font-size: $font-h5;
        font-weight: 300;
        letter-spacing: 2px;
        line-height: 28px;
        color: $white;
        margin-bottom: 10px;
      }
    }
  }
}
