@import "../../../sass/basic.scss";
@import "../../../sass/color.scss";

.scoreInfo-wrapper {
  & .scoreInfo {
    padding: 0 173px;

    @media screen and (max-width: 1000px) {
      padding: 0 100px;
    }

    @media screen and (max-width: 860px) {
      padding: 0 40px;
    }

    & .title {
      text-align: center;
      font-size: $font-h3;
      font-weight: 700;
      letter-spacing: 2px;
      color: $main-blue;
      margin-bottom: 60px;
    }

    @media screen and (max-width: 480px) {
      & .title {
        font-size: $font-h4;
        margin-bottom: 30px;
      }
    }

    & .items-section {
      position: relative;

      & .items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        & .item {
          padding: 0 20px;
          margin-bottom: 20px;
        }

        @media screen and (max-width: 660px) {
          &.course {
            width: 100%;
          }
        }
      }
    }
  }
}
