@import "../../../sass/basic.scss";
@import "../../../sass/color.scss";

.codingInfo-wrapper {
  margin-bottom: 125px;

  @media screen and (max-width: 860px) {
    margin-bottom: 80px;
  }

  & .codingInfo {
    padding: 0 120px;

    @media screen and (max-width: 1200px) {
      padding: 0 50px;
    }

    @media screen and (max-width: 1000px) {
      padding: 0 40px;
    }

    & .title {
      text-align: center;
      font-size: $font-h3;
      font-weight: 700;
      letter-spacing: 2px;
      color: $main-blue;
      margin-bottom: 60px;
    }

    @media screen and (max-width: 480px) {
      & .title {
        font-size: $font-h4;
        margin-bottom: 30px;
      }
    }

    & .items-section {
      position: relative;
      & .items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        & .item {
          padding: 0 10px;
          flex: 1;
        }

        @media screen and (max-width: 1000px) {
          flex-wrap: wrap;
          & .item {
            flex: unset;
            width: 45%;
            margin-bottom: 20px;
          }
        }

        @media screen and (max-width: 860px) {
          flex-direction: column;

          & .item {
            width: unset;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
