@import "../../../sass/basic.scss";
@import "../../../sass/color.scss";

.detailItem-wrapper {
  height: 100%;
  padding: 39px 0;
  padding-right: 20px;

  & .item-title {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    font-size: $font-h2;
    font-weight: 600;
    color: $light-blue;

    @media screen and (max-width: 480px) {
      font-size: $font-h4;
    }

    & .swipe {
      font-size: $font-h6;
      font-weight: 500;
      color: $main-blue;
      margin-top: 10px;
    }
  }

  & .detailItem {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    @media screen and (max-width: 860px) {
      margin-bottom: 30px;
    }

    & .detail {
      margin-bottom: 23px;
      margin-right: 67px;

      &.package {
        width: 100%;
      }

      &.other {
        width: 100%;
      }

      & .title {
        font-size: $font-h4;
        font-weight: 600;
        color: $main-blue;
        margin-bottom: 7px;
      }

      & .context {
        font-size: $font-h5;
        font-weight: 500;
        color: $dark-gray;
        line-height: 25px;
      }

      @media screen and (max-width: 660px) {
        & .title {
          font-size: $font-h5;
        }

        & .context {
          font-size: $font-p;
        }
      }

      @media screen and (max-width: 480px) {
        margin: 0;
        & .title {
          font-size: $font-h6;
        }

        & .context {
          font-size: $font-p;
        }
      }
    }
  }
}

@keyframes scroll {
  from {
    right: 10px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
