@import "../../../sass/basic.scss";
@import "../../../sass/color.scss";

.skills-wrapper {
  width: 60vw;
  // flex: 1;
  padding: 45px 0;
  padding-right: 20px;

  & .skills {
    width: 100%;

    & .swiper-slide {
      height: auto;
    }

    & .swiper-scrollbar {
      opacity: 1 !important;
    }
  }
}
