@import "../../../sass/basic.scss";
@import "../../../sass/color.scss";

.skills-wrapper {
  width: 60vw;
  padding: 45px 0;
  padding-right: 20px;

  @media screen and (max-width: 860px) {
    width: 55vw;
  }

  @media screen and (max-width: 660px) {
    padding: 0;
    padding-bottom: 30px;
    width: 80vw;
  }

  @media screen and (max-width: 480px) {
    padding: 0;
    padding-bottom: 30px;
    width: 60vw;
  }

  & .skills {
    width: 100%;

    & .swiper-slide {
      height: auto;
    }

    & .swiper-scrollbar {
      opacity: 1 !important;
    }
  }
}
