@import "../../../sass/basic.scss";
@import "../../../sass/color.scss";

.intro-wrapper {
  margin-top: 200px;
  transition: all 0.5s;

  &.active {
    padding: 0 60px;
  }
}

.intro-title {
  text-align: center;
  font-size: $font-h1;
  font-weight: 700;
  color: $white;
  margin-bottom: 25px;
}

.intro-summary {
  text-align: center;
  font-size: $font-h4;
  font-weight: 400;
  color: $white;
  margin-bottom: 40px;
}
