@import "../../../sass/basic.scss";
@import "../../../sass/color.scss";

.intro-wrapper {
  margin-top: 10px;
  transition: all 0.5s;

  &.active {
    padding: 0 60px;

    @media screen and (max-width: 800px) {
      padding: 0 40px;
    }

    @media screen and (max-width: 660px) {
      padding: 0 20px;
    }
  }
}

.intro-title {
  text-align: center;
  font-size: $font-h1;
  font-weight: 700;
  color: $white;
  margin-bottom: 25px;
}

.intro-summary {
  text-align: center;
  font-size: $font-h4;
  font-weight: 400;
  color: $white;
  margin-bottom: 40px;
}

@media screen and (max-width: 660px) {
  .intro-title {
    font-size: $font-h4;
  }

  .intro-summary {
    font-size: $font-h5;
  }
}
