@import "../../../sass/basic.scss";
@import "../../../sass/color.scss";

.scoreItem-wrapper {
  text-align: center;

  & .scoreItem {
    & .title {
      font-size: $font-h4;
      margin: 0;
      margin-bottom: 10px;
    }

    & .context {
      font-size: $font-h4;
      color: $white;
      background-color: $main-blue;
      padding: 15px 40px;
      border-radius: 10px;
      line-height: 30px;
    }
  }
}
