@import "../../../sass/basic.scss";
@import "../../../sass/color.scss";

.info-wrapper {
  width: 60vw;
  padding: 0 20px 45px 0;

  @media screen and (max-width: 1023px) {
    width: 55vw;
  }

  @media screen and (max-width: 760px) {
    width: 50vw;
  }

  @media screen and (max-width: 660px) {
    padding: 0;
    padding-bottom: 30px;
    width: 70vw;
  }

  @media screen and (max-width: 480px) {
    padding: 0;
    padding-bottom: 30px;
    width: 60vw;
  }

  & .info {
    width: 100%;

    & .swiper-slide {
      height: auto;
    }

    & .swiper-scrollbar {
      opacity: 1 !important;
    }
  }
}
