@import "../../../sass/basic.scss";
@import "../../../sass/color.scss";

.profile-wrapper {
  & .profile {
    padding: 45px 57px;

    @media screen and (max-width: 860px) {
      padding: 45px 30px;
    }

    @media screen and (max-width: 660px) {
      padding: 0 30px;
      text-align: center;
    }

    & .content {
      & .photo {
        margin: 20px 0;
        & img {
          background-color: $light-gray;
          border-radius: 4px;
          width: 150px;
          height: auto;
        }
      }
      & .name {
        font-size: $font-h4;
        font-weight: 800;
        color: $main-blue;
        letter-spacing: 2px;
        margin-bottom: 36px;
      }

      & .info-box {
        margin-bottom: 36px;

        & .title {
          font-size: $font-h5;
          font-weight: 600;
          color: $main-blue;
          margin-bottom: 7px;
        }

        & .context {
          font-size: $font-h6;
          font-weight: 500;
          color: $dark-gray;
          letter-spacing: 1px;

          & div {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
