@import "../../../sass/basic.scss";
@import "../../../sass/color.scss";

.organizationItem-wrapper {
  & .organizationItem {
    & a {
      text-decoration: none;
    }
    & .title {
      display: flex;
      text-align: left;
      font-size: $font-h4;
      margin: 0;
      margin-bottom: 10px;

      & span {
        position: relative;
        &::before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background-color: $main-blue;
          transition: all 0.5s;
        }

        &:hover {
          &::before {
            width: 100%;
          }
        }
      }
    }

    & .context {
      font-size: $font-h4;
      white-space: wrap;
      color: $white;
      background-color: $main-blue;
      padding: 15px 40px;
      border-radius: 10px;
      line-height: 40px;
      width: fit-content;
    }

    @media screen and (max-width: 860px) {
      & .title {
        font-size: $font-h5;
      }

      & .context {
        font-size: $font-p;
        padding: 10px 20px;
      }
    }
  }
}
